.containerHeader {
  align-items: center;
  background-color: #FCDC36;
  color: #41197F;
  display: flex;
  font-family: sans-serif;
  font-size: 14px;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 20px;
}

.buttonHeaderPerfil {
  background: none;
  border: none;
  margin-right: 20px;
}

.buttonHeaderPesquisa {
  background: none;
  border: none;
}

.buttonContainerHeader {
  align-items: center;
  display: flex;
  justify-content: center;
}

.containerPesquisa {
  display: flex;
  justify-content: center;
}

.header {
  margin-bottom: 20px;
}
